* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  background-color: rgb(247, 247, 247);
}

// common

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  &.half {
    width: 50%;
    &:nth-child(2n-1) {
      padding-right: 15px;
    }
    &:nth-child(2n) {
      padding-left: 15px;
    }
  }
}

.label {
  font-size: 16px;
  margin-bottom: 4px;
}

.input {
  border: 1px solid #755e3d;
  border-radius: 8px;
  outline: none;
  padding: 5px 15px;

  font-size: 18px;
}

.input-error {
  margin-top: 4px;
  color: red;
  font-size: 12px;
}

.search-wrapper {
  position: relative;
  margin-left: auto;
}

.search-input {
  border: 1px solid rgb(167, 167, 167);
  border-radius: 4px;
  padding: 5px 45px 5px 10px;
  outline: none;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: burlywood;
  padding: 10px 15px;
  border: 2px solid burlywood;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  &:hover {
    background-color: white;
    transition: all 0.3s ease;
  }
  &-content {
    display: inline-block;
    position: relative;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  circle {
    fill: rgb(143, 116, 80);
  }
}

.link-button {
  background: none;
  border: none;
  outline: none;
  color: aqua;
  text-decoration: underline;
  cursor: pointer;
}

.load-more-btn {
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid blanchedalmond;
  background-color: burlywood;
  cursor: pointer;
}

// header

.header-bg {
  background-color: rgb(230, 230, 230);
}

.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  margin-right: 25px;
  transition: all 0.15s ease;
  &:hover {
    transform: translateY(3px);
    transition: all 0.15s ease;
  }
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 0px 15px;
  font-size: 22px;
}

.active-link {
  text-decoration: underline;
  padding: 0px 15px;
}

.user-btn {
  margin-left: auto;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-user {
  &-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid burlywood;
    border-radius: 50px;
    background-color: burlywood;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px 5px 10px;
    margin-right: 5px;
  }

  &-name {
    font-size: 14px;
    line-height: 1;
  }

  &-divider {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 5px 0px;
  }

  &-role {
    font-size: 12px;
    line-height: 1;
  }

  &-img {
    border-radius: 50%;
    border: 1px solid black;
    line-height: 0;
    padding: 10px;
  }
}

// footer

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 50, 30);
  padding: 30px;
  margin-top: auto;
}

.footer-logo {
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.15s ease;
  &:hover {
    transform: translateY(3px);
    transition: all 0.15s ease;
  }
}

// main slider

.slider-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-message {
  font-size: 24px;
  margin: 25px 0px;
}

.slide {
  width: 33.333%;
  min-height: 430px;
  display: flex;
  padding: 10px;
  position: relative;

  background-size: cover;
  background-position: right;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, black 110%);
    transition: all 0.15s ease;
  }

  &:hover .slide-darkness {
    opacity: 0;
    transition: opacity 0.15s ease;
  }

  &-content {
    margin-top: auto;
    z-index: 2;
  }

  &-category {
    padding: 2px 6px;
    border-radius: 5px;
    color: #ffffff;
  }

  &-title {
    margin: 15px 0px;
    font-size: 20px;
    color: #fff;
  }

  &-descr {
    font-size: 16px;
    color: #fff;
  }

  &-darkness {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
}

// auth

.auth {
  &-bg {
    background-color: rgb(163, 115, 64);
  }

  &-wrapper {
    min-height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.18);
  }
}

.form-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form-undertext {
  margin-top: 10px;
  font-size: 16px;
}

// post action bar

.action-bar {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 100px;
    background-color: lightgray;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-right: 1px solid black;
    width: 100%;

    &-search {
      padding: 2px 10px 2px 5px;
      &-input {
        width: 100%;
      }
      &-full {
        display: flex;
        align-items: center;
        padding: 2px 10px 2px 5px;
        width: 100%;
        > input {
          margin-right: 10px;
        }
      }
    }
  }
}

// error page

.error-page-wrapper {
  max-width: 1200px;
  padding: 15px 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 67px);
}

.error-title {
  margin: 40px 0px 20px;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
}

// posts

.blog-wrapper {
  display: flex;
  flex-direction: column;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 25px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 4px;
  padding: 10px;
  min-height: 225px;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, black 150%);
    transition: all 0.15s ease;
  }

  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.15s ease;
  }

  &-tags {
    display: flex;
    align-items: center;
    z-index: 2;
  }

  &-tag {
    border-radius: 4px;
    background-color: burlywood;
    padding: 2px 5px;
    margin-right: 5px;
    color: #fff;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: auto;
    width: 100%;
    z-index: 2;
  }

  &-category {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 5px;
    color: #fff;
  }

  &-title {
    font-size: 18px;
    margin: 10px 0px 20px;
    color: #fff;
  }

  &-descr {
    font-size: 16px;
    color: #fff;
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    z-index: 2;
  }

  &-views {
    display: flex;
    align-items: center;
    color: #fff;
    &-icon {
      margin-right: 5px;
      color: #fff;
    }
  }
}

// profile

.profile {
  &-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 25px;
  }

  &-navbar {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid black;
    padding: 25px 15px 25px 0px;
    list-style: none;
    li {
      padding: 10px 10px 10px 0px;
      a {
        display: block;
        color: black;
        font-size: 18px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
  }

  &-title {
    font-size: 32px;
    margin-bottom: 25px;
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    &-btn {
      max-width: 150px;
      margin-left: auto;
    }
  }
}

// my posts

.bcn {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
  }
  &-title {
    font-size: 42px;
    margin-bottom: 15px;
  }
  &-content {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &-highlight {
    color: brown;
  }
  &-btn {
    max-width: 170px;
    border-radius: 70px;
  }
}
