.errorPageWrapper {
  max-width: 1200px;
  padding: 15px 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 67px);
}

.errorTitle {
  margin: 40px 0px 20px;
}

.linkButton {
  background: none;
  border: none;
  outline: none;
  color: aqua;
  text-decoration: underline;
  cursor: pointer;
}
