.form-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form-undertext {
  margin-top: 10px;
  font-size: 16px;
}

.btn {
  background-color: burlywood;
  padding: 10px 15px;
  border: 2px solid burlywood;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  &:hover {
    background-color: white;
    transition: all 0.3s ease;
  }
}
