footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 50, 30);
  padding: 30px;
}

.footer-logo {
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.15s ease;
}

.footer-logo:hover {
  transform: translateY(3px);
  transition: all 0.15s ease;
}
