.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 18px;
  margin-bottom: 2px;
}

.input-error {
  margin-top: 4px;
  color: red;
  font-size: 12px;
}
