.header-bg {
  background-color: rgb(230, 230, 230);
}

.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.15s ease;
}
.logo:hover {
  transform: translateY(3px);
  transition: all 0.15s ease;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 0px 15px;
}
.active-link {
  text-decoration: none;
  color: rgb(54, 25, 25);
  font-weight: 500;
  padding: 0px 15px;
}

.user-btn {
  margin-left: 15px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
